body {
    background-color: rgb(175, 216, 195);
    text-align: center;
    border-radius: 25px;
    margin: 20px auto;
  }  


    .dictionary {
        max-width: 100px;
      
    }

    input[type="text"] {
      background-color: rgb(175, 216, 195);
      width: 50%;
      padding: 20px;
      font-size: 16px;
      border-radius: 25px;

    }
   
    ul {
      
      list-style-type: none;
      padding: 0;
      
      border-radius: 25px;
    }

    li {
      border: 1px solid #cccccc;
      border-radius: 40px;
      padding: 10px;
      

    }

button {
    background-color: rgb(192, 232, 255);
    border-radius: 25px;
    padding: 22px;
 
}

button2 {
  background-color: rgb(192, 232, 255);
  border-radius: 5px;
  padding: 5px;

}

.error {
    color: red;
  }